USE [DataWarehouse]
GO
/****** Object:  Table [dbo].[Dim_Activities]    Script Date: 17/02/2026 19:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Activities](
	[ActivitiesKey] [int] IDENTITY(1,1) NOT NULL,
	[Tutoring] [varchar](50) NULL,
	[Extracurricular] [varchar](50) NULL,
	[Sports] [varchar](50) NULL,
	[Music] [varchar](50) NULL,
	[Volunteering] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivitiesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_ParentalContext]    Script Date: 17/02/2026 19:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_ParentalContext](
	[ParentalContextKey] [int] IDENTITY(1,1) NOT NULL,
	[ParentalEducation] [varchar](50) NULL,
	[ParentalSupport] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentalContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Student]    Script Date: 17/02/2026 19:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Student](
	[StudentID] [int] NOT NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Ethnicity] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Performance]    Script Date: 17/02/2026 19:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Performance](
	[StudentID] [int] NOT NULL,
	[ParentalContextKey] [int] NOT NULL,
	[ActivitiesKey] [int] NOT NULL,
	[StudyTimeWeekly] [decimal](5, 2) NULL,
	[Absences] [int] NULL,
	[GPA] [decimal](5, 3) NULL,
	[GradeClass] [decimal](3, 1) NULL,
 CONSTRAINT [PK_Fact_Performance] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[ParentalContextKey] ASC,
	[ActivitiesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Activities] FOREIGN KEY([ActivitiesKey])
REFERENCES [dbo].[Dim_Activities] ([ActivitiesKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_Fact_Activities]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Parent] FOREIGN KEY([ParentalContextKey])
REFERENCES [dbo].[Dim_ParentalContext] ([ParentalContextKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_Fact_Parent]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Dim_Student] ([StudentID])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_Fact_Student]
GO
